body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: papayawhip;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  font-size: 1.5rem;
}

.display {
  height: 300px;
  width: 700px;
  border-radius: 20px;
  background-color: coral;
  color: cornsilk;
  font-size: 3rem;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  font-size: 2rem;
  border-color: coral;
  border-radius: 30px;
  background-color: transparent;
  color: coral;
  padding: 10px 15px;
}
